html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

body {
  margin: 0;
}

main {
  display: block;
}

.current-link {
  border-bottom: 1px solid #5ece7b;
}

.current-link a {
  color: #5ece7b;
}

.currency-cart {
  display: flex;
  align-items: center;
  margin-top: -0.8rem;
  font-size: 0.9rem;
}

.currency-cart div {
  margin-right: 0.5rem;
  cursor: pointer;
}

.mini-cart {
  margin-top: 0.3rem;
  width: 1.1rem;
}

.currency-cart p {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.arrow {
  margin-left: 0.3rem;
  cursor: pointer;
}

.arrow-up {
  margin-left: 0.3rem;
  cursor: pointer;
  transform: rotate(180deg);
}

.show-currency {
  position: absolute;
  flex-direction: column;
  display: flex;
}

.show-currency div {
  display: flex;
}

.show-currency div p {
  margin-right: 0.5rem;
}

.show-currency {
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.19);
  padding: 0 1rem;
  margin-left: -1rem;
}

.current {
  border-bottom: 1px solid #5ece7b;
}

.current a {
  color: #5ece7b !important;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a, a:visited {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

a:active {
  color: #5ece7b;
}

img {
  border-style: none;
}

button {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  overflow: visible;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}

