html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

main {
  display: block;
}

.current-link {
  border-bottom: 1px solid #5ece7b;
}

.current-link a {
  color: #5ece7b;
}

.currency-cart {
  display: flex;
  align-items: center;
  margin-top: -0.8rem;
  font-size: 0.9rem;
}

.currency-cart div {
  margin-right: 0.5rem;
  cursor: pointer;
}

.mini-cart {
  margin-top: 0.3rem;
  width: 1.1rem;
}

.currency-cart p {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.arrow {
  margin-left: 0.3rem;
  cursor: pointer;
}

.arrow-up {
  margin-left: 0.3rem;
  cursor: pointer;
  transform: rotate(180deg);
}

.show-currency {
  position: absolute;
  flex-direction: column;
  display: flex;
  background-color: white;
}

.show-currency div {
  display: flex;
}

.show-currency div p {
  margin-right: 0.5rem;
}

.show-currency {
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.19);
  padding: 0 1rem;
  margin-left: -1rem;
}

.current {
  border-bottom: 1px solid #5ece7b;
}

.current a {
  color: #5ece7b !important;
}

.cart-num {
  position: absolute;
  right: calc(6% + 0.3rem);
  top: .4rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 0.2rem 0.4rem .2rem .35rem;
  font-size: .7rem;
  font-weight: 900 !important;
  font-family: "Roboto", sans-serif;
}

.button-image {
  display: flex;
}

.product-image {
  width: 6rem;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 0 0 1rem;
}

.product-price { 
  margin-top: .8rem;
  font-weight: 500 !important;
}

.productImage {
  width: 100%;
  height: 23rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage p {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.brand {
  font-weight: 600;
  margin-right: .3rem;
}

.price {
  font-weight: 600;
}

.addToCart {
  margin: -7rem 0 -7rem 17rem;
  position: absolute;
  display: none;
  transition: .3s;
  cursor: pointer;
}

.addToCart:hover {
  transform: scale(1.1);
}

.buttons {
  margin: .6rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.buttons a {
  border: 1px solid black;
}

.buttons button {
  background-color: #5ece7b;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons a,
.buttons button {
  font-size: .9rem;
  text-transform: uppercase;
  width: 7.3rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.buttons a:hover,
.buttons button:hover {
  transform: scale(1.05);
}

.add-remove-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-remove-buttons p {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.add-remove {
  font-size: 1.6rem;
  line-height: 1.5rem;
  border: 1px solid black;
  padding: 0 .4rem;
  transition: 0.2s;
}

.add-remove:hover {
  transform: scale(1.05);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  font-size: 1rem;
}

.total p {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a, a:visited, a:active {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

img {
  border-style: none;
}

button {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  overflow: visible;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}