html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
}

main {
  display: block;
}

.current-link {
  border-bottom: 1px solid #5ece7b;
}

.current-link a {
  color: #5ece7b;
}

.currency-cart {
  display: flex;
  align-items: center;
  margin-top: -0.8rem;
  font-size: 0.9rem;
}

.currency-cart div {
  margin-right: 0.5rem;
  cursor: pointer;
}

.mini-cart {
  margin-top: 0.3rem;
  width: 1.1rem;
}

.currency-cart p {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.arrow {
  margin-left: 0.3rem;
  cursor: pointer;
}

.arrow-up {
  margin-left: 0.3rem;
  cursor: pointer;
  transform: rotate(180deg);
}

.show-currency {
  position: absolute;
  flex-direction: column;
  display: flex;
  background-color: white;
}

.show-currency div {
  display: flex;
}

.show-currency div p {
  margin-right: 0.5rem;
}

.show-currency {
  box-shadow: 0 4px 35px rgba(0, 0, 0, 0.19);
  padding: 0 1rem;
  margin-left: -1rem;
}

.current {
  border-bottom: 1px solid #5ece7b;
}

.current a {
  color: #5ece7b !important;
}

.cart-num {
  position: absolute;
  right: calc(6% + 0.3rem);
  top: .4rem;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding: 0.15rem 0.4rem 0.3rem 0.4rem;
  font-size: .7rem;
  font-weight: 700 !important;
  font-family: "Roboto", sans-serif;
}

.button-image {
  display: flex;
}

.product-image {
  width: 6rem;
  height: 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 0 0 1rem;
}

.product-price { 
  margin-top: .8rem;
  font-weight: 500 !important;
}

.productImage {
  width: 100%;
  height: 23rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage p {
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
}

.brand {
  font-weight: 600;
  margin-right: .3rem;
}

.price {
  font-weight: 600;
}

.addToCart {
  margin: -7rem 0 -7rem 17rem;
  position: absolute;
  display: none;
  transition: .3s;
  cursor: pointer;
}

.addToCart:hover {
  transform: scale(1.1);
}

.buttons {
  margin: .6rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.buttons a {
  border: 1px solid black;
}

.buttons button {
  background-color: #5ece7b;
  color: white;
  border: none;
  cursor: pointer;
}

.buttons a,
.buttons button {
  font-size: .9rem;
  text-transform: uppercase;
  width: 7.3rem;
  padding: 0.5rem 0;
  box-sizing: border-box;
  transition: 0.2s;
}

.buttons a:hover,
.buttons button:hover {
  transform: scale(1.05);
}

.add-remove-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.add-remove {
  transition: .2s;
}

.add-remove-buttons p {
  margin: 0;
  font-weight: 400;
  font-size: 1.1rem !important;
}

.add-remove:hover {
  transform: scale(1.05);
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  font-size: 1rem;
}

.total p {
  font-weight: 700;
}

.cart-container {
  padding: 0  15% 0 calc(6% + 1rem);
  margin-top: 3rem;
  font-family: "Raleway", sans-serif;
}

.notify {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  font-size: 2rem;
  margin: 6rem 0;
}

.cart-title {
  font-size: 2.4rem;
  font-weight: 600;
}

.cart-image {
  width: 15rem;
  height: 19rem;
  background-position: center;
  background-size: contain;
}

hr {
  opacity: .5;
  margin: 1.5rem 0;
}

.cart-product-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.cart-product-main p{
  margin: 0 0 .7rem 0;
  font-size: 1.5rem;
  font-weight: 200;
}

.cart-product-main p:first-child {
  font-weight: 600;
}

.cart-product-price, .cart-total {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
  margin-top: 1.5rem !important;
  margin-bottom: 2rem !important;
}

.cart-buttons p {
  font-size: 1.4rem !important;
}

.cart-buttons img {
  width: 1.8rem;
  cursor: pointer;
}

.product-page-container {
  margin: 4rem 6%;
  display: flex;
  font-family: "Raleway", sans-serif;
}

.gallery-container {
  display: flex;
}

.mini-image-container {
  height: 32rem;
  overflow-y: scroll;
  margin-right: 3rem;
}

.mini-image {
  width: 5rem;
  height: 5rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-bottom: 2rem;
}

.main-image {
  width: 38rem;
  height: 32rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-main-image {
  width: 38rem;
  height: 32rem;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.product-page-info {
  width: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 6rem;
  overflow-y: visible;
}

.att-price {
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
}

.product-price {
  font-size: 1.3rem;
  font-weight: bold !important;
}

.att-cont {
  display: flex;
  margin: 1.6rem 0 3.5rem 0;
  list-style: none;
  padding-left: 0;
}

.att-cont li {
  display: inline-block;
}

.input {
  position: absolute;
  transform: scale(4);
  cursor: pointer;
  opacity: 0;
}

.att-cont li label {
  border: 1px solid black;
  margin-right: .5rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s;
  padding: 1rem 1.5rem;
}

.att-not-text {
  height: 1.2rem;
  width: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  display: inline-block;
  opacity: .6;
}

.att:hover, .input:hover + .att, .input:checked + label {
  background-color: black;
  color: white;
}

.att-not-text:hover, .input-not-text:checked + label {
  opacity: 1;
  transform: scale(1.1);
}

.add-cart-button {
  width: 100%;
  outline: unset;
  border: unset;
  background-color: #5ece7b;
  color: white;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.add-cart-button:hover {
  transform: scale(1.02);
}

.button-div {
  margin-bottom: 2rem;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.minicart-att {
  display: flex;
}

.minicart-att-value {
  font-size: .8rem !important;
  padding: .2rem;
  border: 1px solid black;
  text-align: center;
  margin-right: .3rem !important;
}

.big-cart-att {
  font-size: 1rem !important;
  padding: .7rem 1rem;
  margin-right: .8rem !important;
}

.value-not-text {
  height: .8rem;
  width: .8rem;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.big-cart-not-text {
  height: 2rem;
  width: 2rem;
  margin-right: .8rem !important; 
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a, a:visited, a:active {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

img {
  border-style: none;
}

button {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  overflow: visible;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[hidden] {
  display: none;
}